{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated%}
<div id="messageContainer">
    {%for message in messages %}
    <div>
        <span class="color-gray">[{{message.created_at}}]</span> <b>{{message.author}}:</b>
        <i>{{message.text}}</i>
    </div>
    {%endfor%}
</div>

<script>
    async function sendMessage() {
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const d = new Date();
        let day = d.getDate();
        let year = d.getFullYear();
        let month = months[d.getMonth()];
        let date = `${month} ${day} , ${year}`
        let fd = new FormData()
        let token = '{{ csrf_token }}'
        fd.append('textmessage', messagefield.value)
        fd.append('csrfmiddlewaretoken', token)
        try {
            messageContainer.innerHTML += `
                 <div id="deleteMessage">
                      <span class="color-gray">[${date}]</span> <b>{{request.user}}:</b>
                       <i class="color-gray">${messagefield.value}</i>
                 </div>`;

            await fetch('/chat/', {
                method: 'POST',
                body: fd,
            })
            console.log('success')

            document.getElementById('deleteMessage').remove();
            for ( message in messages){
                messageContainer.innerHTML += `
                 <div>
                      <span class="color-gray">[{{message.created_at}}]</span> <b>{{request.user}}:</b>
                       <i >${messagefield.value}</i>
                 </div>`;
            }
               
        }
        catch (e) {
            console.error('An error occurded', e)
        }

    }
</script>


<form onsubmit="sendMessage(); return false;" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="messagefield">
        <label class="mdl-textfield__label" for="messagefield">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
    </button>
</form>
{% else %}
<h1>Nicht eingeloggt</h1>
<p>
    Bitte logge dich ein
    <br>Bitte klicke <a href="/login/">hier</a>
</p>
{% endif %}
{% endblock %}