.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.form {
    display: contents;
}

.register-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.mdl-textfield__input {
    cursor: pointer;
}

#notSimilarPassword {
    display: none;
    color: red;
}

#usernameExists {
    display: none;
    color: red;
}

.arrow_back{
    background-color: rgb(63, 81, 181) !important;
    width: 30px !important;
    height: 30px !important;
    min-width: auto !important;
}