{% extends "base.html" %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
<script type="text/javascript"  src="{% static 'js/register.js' %}"></script>
<section class="content">
    <h1>
        <button onclick="routeBack()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored arrow_back">
            <i class="material-icons"><span class="material-symbols-outlined">
                arrow_back
                </span></i>
          </button>
          Sign-Up
    </h1>
   
    <p id="notSimilarPassword"> passwords don't match</p>
    <p id="usernameExists" >Username already exists</p>

    <form id="registerForm" onsubmit="registerUser(); return false;" method="post">
        {% csrf_token %}
        <div class="input-container">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input  class="mdl-textfield__input" type="text" id="newUsername" name="createUsername">
                <label class="mdl-textfield__label" for="newUsername">Username</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input   type="email" class="mdl-textfield__input" id="createMail" name="createMail" id="">
                <label class="mdl-textfield__label" for="createMail">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input  class="mdl-textfield__input" id="passwordOne" type="password" name="createPassword" id="">
                <label class="mdl-textfield__label" for="passwordOne">Password</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input  class="mdl-textfield__input" id="passwordTwo" type="password" name="controllPassword" id="">
                <label class="mdl-textfield__label" for="passwordTwo">Password</label>
            </div>
        </div>
        <div><button disabled  id="submitBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Login
            </button></div>

    </form>
</section>

{% endblock%}